@media (max-width: 1025px) {
    .container {
        width: min(100%, 1025px);
    }

    /* Home Page */
    /* Header */
    header {
        padding-inline: 45px;
    }

    .burger {
        display: block;
    }

    .page_nav {
        position: fixed;
        top: 98.4px;
        left: -100%;
        width: 200px;
        height: 144px;
        padding: 16px 56px 16px 16px;
        background-color: #C46A2B;
        transition: .4s linear;
    }

    .page_nav ul {
        flex-direction: column;
        row-gap: 8px;
    }

    .show {
        left: 0;
    }

    /* Section2 */
    .section2 {
        padding-inline: 45px 0;
    }

    .s2_cards_box {
        overflow-x: scroll;
        width: 100%;
    }

    .s2_cards_box article {
        flex: 1 0 298px;
    }

    /* Footer */
    @media (max-width:873px) {

        footer {
            padding-inline: 32px;
        }

        .footer_sections {
            column-gap: 0;
            justify-content: space-between;
        }
    }

    /* Catalog Page */
    @media (max-width:1023px) {
        .catalog_main {
            padding-inline: 45px;
        }
    }

    /* Contact Page */
    .contact_section {
        padding-inline: 45px;
    }


    @media (max-width:873px) {
        .contact_section {
            height: 100%;
            padding: 48px 32px;
        }

        .contact_content {
            width: 100%;
            margin: auto;
        }

    }

}