@media (max-width: 321px) {
    .container {
        width: min(100%, 321px);
    }

    /* Header */
    header {
        padding-inline: 8px;
    }

    /* Section1 */
    .section1 {
        height: 320px;
    }

    .s2_cards_box {
        padding-inline: 8px;
    }

    /* Catalog Page */
    .catalog_main {
        padding-inline: 8px;
    }
}