@media (max-width: 481px) {
    .container {
        width: min(100%, 481px);
    }

    /* Header */
    header {
        padding-inline: 20px;
    }

    header img {
        width: 40px;
        height: 40px;
    }

    .icon_nav ul {
        column-gap: 16px;
    }

    .icon_nav button {
        width: 32px;
        height: 32px;
    }

    /* Section1 */
    .s1_content {
        width: 267px;
    }

    .s1_content h2 {
        font-size: 24px;
    }

    /* Section2 */
    .section2 {
        height: 544px;
        padding-block: 32px;
    }

    .s2_textbox {
        margin-bottom: 40px;
    }

    .s2_textbox h3 {
        font-size: 24px;
        line-height: 32px;
    }

    .s2_textbox h3::after {
        width: 156px;
    }

    .s2_cards_box {
        padding-inline: 20px;
    }

    /* Catalog Page */
    .catalog_main {
        padding: 32px 20px;
        row-gap: 40px;
    }

    .filter_box p {
        display: none;
    }

    .sort_button {
        width: 35px;
        justify-content: center;
    }

    .sort_button p {
        display: none;
    }

    .cat_page_nav button {
        width: 52px;
        justify-content: center;
    }

    .previous_btt p,
    .next_btt p {
        display: none;
    }

}