/* Home Page */
.container {
    width: min(100%, 1440px);
    margin: auto;
    padding-top: 96px;
}

/* Header */
header {
    width: inherit;
    height: 96px;
    background-color: #012426;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 94px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    border-bottom: 2px solid #05BCCA;
}

.page_nav ul {
    display: flex;
    column-gap: 72px;
}

.page_nav a {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: #A1C3C9;
}

.page_nav a:hover {
    text-shadow: 0 0 10px #8fcde6;
}

.burger,
.xMark {
    display: none;
    cursor: pointer;
    width: 32px;
    height: 32px;
}

header img {
    width: 64px;
    height: 64px;
}

header img:hover {
    filter: drop-shadow(0 0 4px #e8ac80);
}

/* animation */
.logo_animation {
    position: relative;
}

.logo1 {
    position: relative;
    z-index: 1;
    animation: beat 2s linear infinite;
}

.logo2 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: echo 2s linear infinite;
}

@keyframes beat {
    0% {
        transform: scale(1);
    }

    14% {
        transform: scale(0.95);
    }

    21% {
        transform: scale(1.1) skew(0.004turn)
    }

    28% {
        transform: scale(1) skew(0.008turn);
    }

    35% {
        transform: scale(1) skew(0)
    }
}

@keyframes echo {
    0% {
        opacity: 0.5;
        transform: scale(1);
    }

    14% {
        opacity: 0.4;
        transform: scale(0.95);
    }

    21% {
        opacity: 0.4;
        transform: scale(1.1);
    }

    100% {
        opacity: 0;
        transform: scale(2);
    }
}

.icon_nav ul {
    display: flex;
    column-gap: 32px;
}

.icon_nav button {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background-color: #012426;
    border: solid 2px #05BCCA;
}

.icon_nav i {
    font-size: 14px;
    color: #05BCCA;
}

.icon_nav button:hover {
    background-color: #05BCCA;
    border: none;
}

.search_button:hover i,
.user_button:hover i,
.cart_button:hover i {
    color: #2C4246;
}

.page_nav a,
header img,
.icon_nav button,
.icon_nav i,
.s1_button,
.s2_cards_box article,
.soc_icons_ul svg,
.soc_icons_ul svg path,
.filter_box img,
.sort_box button,
.cat_page_nav button,
.info_box img,
.form_map button,
.brands_nav a,
.information_nav a,
.contact_info_nav a,
.catalog_cards img {
    transition: all 0.5s ease
}

/* Section1 */
.section1 {
    height: 560px;
    background-image: url(../images/section1_img.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding-block: 72px;
}

.s1_content {
    width: 347px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.s1_content h2 {
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    color: #FFFFFF;
}

.s1_content span {
    color: #05BCCA;
}

.s1_button {
    cursor: pointer;
    width: 36px;
    height: 24px;
    border-radius: 4px;
    border: none;
    background-color: #C46A2B;
}

.s1_button:hover {
    box-shadow: 0 0 20px #efd8c7;
}

.s1_buttonbox {
    display: flex;
}

.s1_button img {
    width: 17.5px;
    height: 13.52px;
    margin: auto;
}

/* Section2 */
.section2 {
    height: 716px;
    padding-block: 96px;
    background-color: #1A1A1A;
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
}

.s2_textbox {
    margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    margin-bottom: 64px;
}

.s2_textbox h3 {
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 52px;
    color: #05BCCA;
}

.s2_textbox h3::after {
    content: "";
    width: 187.27px;
    height: 2px;
    background-color: #05BCCA;
    display: block;
    margin-bottom: 8px;
    margin: auto;
}

.s2_cards_box {
    margin: auto;
    display: flex;
    column-gap: 20px;
}

@media (max-width:1342px) {
    .s2_cards_box {
        overflow-x: scroll;
        overflow-y: hidden;
        padding-inline: 45px;
    }

    .section2 {
        height: 720px;
    }
}

.s2_cards_box article {
    background-color: #2C4246;
    /* width: 298px; */
    height: 400px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.s2_cards_box article:hover {
    box-shadow: 0px 0px 8px 4px #05BCCACC;
}


figure {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.cards_h {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    color: #D9D9D9;
}

.cards_text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.star_div {
    display: flex;
    column-gap: 6px;
}

.star_div i {
    color: #C46A2B;
}

.price_div {
    width: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price_div i {
    color: #05BCCA;
}

.price_div p {
    color: #05BCCA;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}

/* Footer */
footer {
    background-color: #2C4246;
    padding-block: 48px;
}

.footer_sections {
    display: flex;
    column-gap: 223px;
    justify-content: center;
}

footer h5 {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #D9D9D9;
}

footer h5::after {
    content: "";
    width: 80px;
    height: 2px;
    background-color: #D9D9D9;
    display: block;
    margin-bottom: 24px;

}

footer a {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #D9D9D9;
}

footer ul {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.brands_nav a:hover,
.information_nav a:hover,
.contact_info_nav a:hover {
    text-shadow: 0 0 6px #ca8757;
    color: #ccaf89;
}

.contact_info_nav {
    margin-bottom: 8px;
}

.soc_icons_ul {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
}

.soc_icons_ul svg:hover {
    cursor: pointer;
    stroke: #D9D9D9;
}

.soc_icons_ul svg:hover path {
    fill: #2C4246;
}

/* Catalog Page */
/* Main Section */
.catalog_main {
    background-color: #012426;
    padding: 96px 94px;
    display: flex;
    flex-direction: column;
    row-gap: 64px;
    align-items: center;
}

/* Top Settings Box */
.setting_box {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.setting_box img:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 5px #FFFFFF);
}

.filter_box {
    display: flex;
    column-gap: 16px;
}

.sort_box {
    display: flex;
    column-gap: 32px;
}

.sort_box button:hover {
    box-shadow: 0 0 10px #FFFFFF;
}

.setting_box p {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: #D9D9D9;
}

.sort_button {
    background-color: #A1C3C9;
    width: 160px;
    height: 32px;
    padding: 4px 8px;
    border-radius: 4px;
    border: none;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sort_button p {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #2C4246;
}

/* Guitar Cards Section */
.catalog_cards {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 40px;
    justify-content: center;
}

.catalog_cards img {
    height: 298px;
    width: 100%;
    object-fit: cover;
}

.catalog_cards article:hover .card_img {
    filter: grayscale(100%);
    scale: 1.1;
}

.cards_content {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    color: #D9D9D9;
}

.cards_content {
    display: flex;
    flex-direction: column;
    height: 70px;
    justify-content: space-between;
}

.catalog_cards article:hover {
    cursor: pointer;
}

.card_div {
    overflow: hidden;
}

.catalog_cards article {
    background-color: #2C4246;
    height: 400px;
    flex: 1 1 298px;
}

@media (max-width:1121px) {

    .cat_card9,
    .cat_card10,
    .cat_card11,
    .cat_card12 {
        display: none;
    }
}

.cards_content {
    margin: 16px 8px;
}

/* Page Navigation */
.cat_page_nav {
    display: flex;
    column-gap: 48px;
    align-items: center;
}

.cat_page_nav button {
    padding: 8px;
    border-radius: 8px;
    border: none;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 16px;
}

.previous_btt p,
.next_btt p {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #D9D9D9;
}

.previous_btt {
    background-color: #C46A2B;
}

.previous_btt:hover {
    box-shadow: 0 0 10px #c48e68;
}

.next_btt {
    background-color: #05BCCA;
}

.next_btt:hover {
    box-shadow: 0 0 10px #6dc9d0;
}

.cat_page_nav_p {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
}

/* Contact Page */
/* Main Section */
.contact_section {
    background-image: url(../images/contact_background.png);
    background-position: right;
    height: 720px;
    padding-inline: 94px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.contact_content {
    width: 616px;
    height: 509px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact_content p {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: #FFFFFF;
}

.info_box {
    background-color: #2C4246;
    padding-inline: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}

.info_box img:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 5px #FFFFFF);
}

.info_content {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.mail_box,
.tel_box {
    display: flex;
    align-content: center;
    column-gap: 16px;
}

.mail_box a,
.tel_box a {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #D9D9D9;
}

.info_icons_only {
    display: none;
}

.form_map {
    display: flex;
    column-gap: 40px;
}

.form_map form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.name_box {
    display: flex;
    column-gap: 8px;
    margin-bottom: 16px;
}

input[type=text],
input[type=email],
textarea {
    width: 100%;
    background-color: #2C4246;
    border: none;
    padding: 6px 8px;
    color: #A1C3C9;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}

textarea {
    height: 103px;
    margin-bottom: 24px;
    resize: none;
}

.form_map button {
    background-color: #C46A2B;
    border: none;
    width: 100%;
    height: 40px;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
}

.form_map button:hover {
    box-shadow: 0 0 10px #b78764;
}

.map_box {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
    row-gap: 32px;
}

.map_box iframe {
    width: 100%;
    height: 151px;
}

.map_box_icons svg:hover {
    stroke: #f6c5a3;
}

.map_box_icons svg:hover path {
    fill: #e18747;
}