.container {
    width: min(100%, 1440px);
    margin: auto;
    padding-top: 96px;
}

/* Header */
header {
    width: inherit;
    height: 96px;
    background-color: #012426;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 94px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    border-bottom: 2px solid #05BCCA;
}

.page_nav ul {
    display: flex;
    column-gap: 72px;
}

.page_nav a {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: #A1C3C9;
}

.page_nav a:hover {
    text-shadow: 0 0 10px #8fcde6;
}

.burger_icon {
    display: none;
}

header img {
    width: 64px;
    height: 64px;
}

header img:hover {
    filter: drop-shadow(0 0 4px #e8ac80);
}

.icon_nav ul {
    display: flex;
    column-gap: 32px;
}

.icon_nav button {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background-color: #012426;
    border: solid 2px #05BCCA;
}

.icon_nav i {
    font-size: 14px;
    color: #05BCCA;
}

.icon_nav button:hover {
    background-color: #05BCCA;
    border: none;
}

.search_button:hover i,
.user_button:hover i,
.cart_button:hover i {
    color: #2C4246;
}

.page_nav a,
header img,
.icon_nav button,
.icon_nav i,
.s1_button,
.s2_cards_box article,
.soc_icons_ul svg,
.soc_icons_ul svg path
 {
    transition: all 0.75s ease
}

/* Section1 */
.section1 {
    height: 560px;
    background-image: url(../images/section1_img.png);
    object-fit: cover;
    background-position: center;
    padding-block: 72px;
}

.s1_content {
    width: 347px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.s1_content h2 {
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    color: #FFFFFF;
}

.s1_content span {
    color: #05BCCA;
}

.s1_button {
    cursor: pointer;
    width: 36px;
    height: 24px;
    border-radius: 4px;
    border: none;
    background-color: #C46A2B;
}

.s1_button:hover {
    box-shadow: 0 0 20px #efd8c7;
}

.s1_buttonbox {
    display: flex;
}

.s1_button img {
    width: 17.5px;
    height: 13.52px;
    margin: auto;
}

/* Section2 */
.section2 {
    height: 716px;
    padding-block: 96px;
    background-color: #1A1A1A;
    display: flex;
    flex-direction: column;
}

.s2_textbox {
    margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    height: 60px;
}

.s2_textbox h3 {
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 52px;
    color: #05BCCA;
}

/* .s2_textbox img {
    margin: auto;
} */







.s2_cards_box {
    margin: auto;
    display: flex;
    column-gap: 20px;
}

.s2_cards_box article {
    background-color: #2C4246;
    width: 298px;
    height: 400px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.s2_cards_box article:hover {
    box-shadow: 0px 0px 8px 4px #05BCCACC;
}

.s2_cards_box h4 {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    color: #D9D9D9;
}

.cards_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70px;
}


.cards_text {
    display: flex;
    justify-content: space-between;
}

.star_div {
    display: flex;
    column-gap: 6px;
}

.star_div i {
    color: #C46A2B;
}

.price_div {
    width: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price_div i {
    color: #05BCCA;
}

.price_div p {
    color: #05BCCA;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}

/* Footer */
footer {
    background-color: #2C4246;
    padding-block: 48px;
}

.footer_sections {
    display: flex;
    column-gap: 223px;
    justify-content: center;
}

.footer_header {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    margin-bottom: 24px;
}

footer h5 {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #D9D9D9;
}

.footer_line {
    width: 80px;
}

footer a {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #D9D9D9;
}

footer ul {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.contact_nav nav {
    margin-bottom: 8px;
}

.soc_icons_ul {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
}

.soc_icons_ul svg:hover {
    cursor: pointer;
    stroke: #D9D9D9;
}

.soc_icons_ul svg:hover path {
    fill: #2C4246;
}