.container {
    width: min(100%, 1440px);
    margin: auto;
    padding-top: 96px;
}

/* Header */
header {
    width: inherit;
    height: 96px;
    background-color: #012426;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 94px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    border-bottom: 2px solid #05BCCA;
}

.page_nav ul {
    display: flex;
    column-gap: 72px;
}

.page_nav a {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: #A1C3C9;
}

.page_nav a:hover {
    text-shadow: 0 0 10px #8fcde6;
}

.burger_icon {
    display: none;
}

header img {
    width: 64px;
    height: 64px;
}

header img:hover {
    filter: drop-shadow(0 0 3px #C46A2B);
}

.icon_nav ul {
    display: flex;
    column-gap: 32px;
}

.icon_nav button {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background-color: #012426;
    border: solid 2px #05BCCA;
}

.icon_nav i {
    font-size: 14px;
    color: #05BCCA;
}

.icon_nav button:hover {
    background-color: #05BCCA;
    border: none;
}

.search_button:hover i,
.user_button:hover i,
.cart_button:hover i {
    color: #2C4246;
}

/* Section1 */
.section1 {
    height: 560px;
    background-image: url(../images/section1_img.png);
    object-fit: cover;
    background-position: center;
    padding-block: 72px;
}

.s1_content {
    width: 347px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.s1_content p {
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    color: #FFFFFF;
}

.s1_content span {
    color: #05BCCA;
}

.s1_button {
    cursor: pointer;
    width: 36px;
    height: 24px;
    border-radius: 4px;
    border: none;
    background-color: #C46A2B;
}

.s1_buttonbox {
    display: flex;
}

.s1_button img {
    width: 17.5px;
    height: 13.52px;
    margin: auto;
}

/* Section2 */
.section2 {
    height: 716px;
    padding-block: 96px;
    background-color: #1A1A1A;
    display: flex;
    flex-direction: column;
}

.s2_textbox {
    margin: auto;
    /* display: flex; */
    /* flex-direction: column; */
    /* row-gap: 8px; */
    height: 60px;
    border-bottom: solid 2px #05BCCA;
}

.s2_textbox p {
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 52px;
    color: #05BCCA;
}

.s2_textbox img {
    margin: auto;
}

.s2_cards {
    margin: auto;
    display: flex;
    column-gap: 20px;
    /* padding-inline-start: 8px; */
}